---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if kit.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-143">
        <div class="cs-container">
            <span class="cs-topper">GROVE BLIND & SHUTTERS CO. </span>
            <h1 class="cs-title">The North West’s Experts in Made-to-Measure Shutters & Blinds</h1>
            <p class="cs-text">
                Covering Tyldesley, Leigh, Warrington & Beyond with Over 25 Years of Experience.
            </p>
            <a href="/contact/" class="cs-button-solid">BOOK AN APPOINTMENT</a>
        </div>

        <!-- Background Image -->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/blinds.jpg" | resize({ width: 640, height: 1490 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/blinds.jpg" | resize({ width: 640, height: 1490 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/blinds.jpg" | resize({ width: 640, height: 1490 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/blinds.jpg" | resize({ width: 2048, height: 1922 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/blinds.jpg" | resize({ width: 2048, height: 1922 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/blinds.jpg" | resize({ width: 2048, height: 1922 }) | jpeg %}" type="image/jpeg">
            <!--Large Tablet Image-->
            <source media="(min-width: 1024px) and (max-width: 1300px)" srcset="{% getUrl "/assets/images/blinds.jpg" | resize({ width: 2048, height: 1922 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px) and (max-width: 1300px)" srcset="{% getUrl "/assets/images/blinds.jpg" | resize({ width: 2048, height: 1922 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px) and (max-width: 1300px)" srcset="{% getUrl "/assets/images/blinds.jpg" | resize({ width: 2048, height: 1922 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1300px)" srcset="{% getUrl "/assets/images/blinds.jpg" | resize({ width: 1, height: 1 }) | avif %}" type="image/avif">
            <source media="(min-width: 1300px)" srcset="{% getUrl "/assets/images/blinds.jpg" | resize({ width: 1, height: 1 }) | webp %}" type="image/webp">
            <source media="(min-width: 1300px)" srcset="{% getUrl "/assets/images/blinds.jpg" | resize({ width: 1, height: 1 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/blinds.jpg" | resize({ width: 1, height: 1 }) | jpeg %}" alt="kitchen" width="1" height="1" loading="eager" decoding="async">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->

    <section id="h-services-143">
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon">
                    <img loading="lazy" decoding="async" src="/assets/svgs/quote1.svg" alt="icon" width="52" height="52" aria-hidden="true">
                </picture>
                <h2 class="cs-title">FREE QUOTATIONS</h2>
                <p class="cs-text">
                    We offer a no obligation, measured quotation service. Get in touch to arrange your free appointment today.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon">
                    <img loading="lazy" decoding="async" src="/assets/svgs/team.svg" alt="icon" width="52" height="52" aria-hidden="true">
                </picture>
                <h2 class="cs-title">PROFESSIONAL TEAM</h2>
                <p class="cs-text">
                    Our friendly and reliable team take great care with your home, ensuring a neat and high-standard finish every time.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon">
                    <img loading="lazy" decoding="async" src="/assets/svgs/s2.svg" alt="icon" width="52" height="52" aria-hidden="true">
                </picture>
                <h2 class="cs-title">COMMERCIAL & DOMESTIC</h2>
                <p class="cs-text">
                    We work with both homeowners and commercial properties across Greater Manchester and beyond.
                </p>
            </li>
        </ul>
    </section>

   
    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="RPsbsr-313">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <picture class="cs-picture cs-picture1">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/blinds2.jpg" | resize({ width: 482, height: 536 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/blinds2.jpg" | resize({ width: 482, height: 536 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/blinds2.jpg" | resize({ width: 482, height: 536 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/blinds2.jpg" | resize({ width: 802, height: 892 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/blinds2.jpg" | resize({ width: 802, height: 892 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/blinds2.jpg" | resize({ width: 802, height: 892 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/blinds2.jpg" | resize({ width: 1044, height: 1162 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/blinds2.jpg" | resize({ width: 1044, height: 1162 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/blinds2.jpg" | resize({ width: 1044, height: 1162 }) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/blinds2.jpg" | resize({ width: 1044, height: 1162 }) | jpeg %}" alt="lawyers" width="522" height="581" loading="lazy" decoding="async">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/living-room1.jpg" | resize({ width: 366, height: 354 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/living-room1.jpg" | resize({ width: 366, height: 354 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/living-room1.jpg" | resize({ width: 366, height: 354 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/living-room1.jpg" | resize({ width: 600, height: 578 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/living-room1.jpg" | resize({ width: 600, height: 578 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/living-room1.jpg" | resize({ width: 600, height: 578 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/living-room1.jpg" | resize({ width: 780, height: 752 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/living-room1.jpg" | resize({ width: 780, height: 752 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/living-room1.jpg" | resize({ width: 780, height: 752 }) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/living-room1.jpg" | resize({ width: 780, height: 752 }) | jpeg %}" alt="gavel" width="390" height="376" loading="lazy" decoding="async">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Grove Blind & Shutters Co.</h2>
                <p class="cs-text">
                    <b>The Grove Blind & Shutter Co.</b> is a proudly family-owned and operated business, built on the values of trust, craftsmanship, and exceptional service. With deep local roots and decades of industry experience, we’re passionate about helping homeowners transform their spaces with beautifully crafted, made-to-measure shutters and blinds.
<br><br>
                    We operate from two key locations to ensure outstanding local service. Our established <b>Tyldesley</b> showroom serves customers in Astley, Tyldesley, Worsley, Bolton, and the surrounding areas, while our newly opened head office and showroom in <b>Lowton</b> extends our reach to Leigh, Culcheth, Golborne, Warrington, and beyond. No matter where you visit us, you’ll be met with expert advice and a warm, personal approach.
<br><br>                    
                    With <b>over 25 years of hands-on experience</b> in custom blind and shutter installation, our dedicated team understands how to balance style, function, and budget to deliver the perfect window solution for every home. We’re not just fitters—we’re craftsmen who take pride in every detail, from your first consultation to the final fitting.
<br><br>                    
                    Every project we undertake is <b>personally overseen by the owners</b>, ensuring consistent quality, accountability, and care. We believe in doing things right the first time and treating each customer like part of our extended family.
<br><br>                    
                    For your peace of mind, all of our products come with a <b>comprehensive manufacturer’s warranty</b>. In the rare event that something does go wrong, you can rest assured that we’ll resolve the issue quickly and professionally—no hassle, no excuses.                </p>
                <a href="/about/" class="cs-button-solid">About Us</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery-48">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Blinds & Shutters</span>
                <h2 class="cs-title">Installed With Care, Designed To last.</h2>
            </div>
            <div class="cs-image-group">
                <div class="cs-row cs-row-1">
                    <!-- Row 1-->
                    <a href="/project-one/" class="cs-picture cs-picture-1">
                      
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/plantationbody.jpg" | resize({ width: 182, height: 250 }) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/plantationbody.jpg" | resize({ width: 182, height: 250 }) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/plantationbody.jpg" | resize({ width: 182, height: 250 }) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image-->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/plantationbody.jpg" | resize({ width: 634, height: 798 }) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/plantationbody.jpg" | resize({ width: 634, height: 798 }) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/plantationbody.jpg" | resize({ width: 634, height: 798 }) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image-->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/plantationbody.jpg" | resize({ width: 826, height: 1134 }) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/plantationbody.jpg" | resize({ width: 826, height: 1134 }) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/plantationbody.jpg" | resize({ width: 826, height: 1134 }) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/plantationbody.jpg" | resize({ width: 826, height: 1134 }) | jpeg %}" alt="new hallway" width="413" height="567" loading="lazy" decoding="async">
                        <span class="cs-label">Plantation Shutters</span>
                    </a>
                    <a href="/project-one/" class="cs-picture cs-picture-2">
                      
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/metalvenetian.jpg" | resize({ width: 182, height: 250 }) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/metalvenetian.jpg" | resize({ width: 182, height: 250 }) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/metalvenetian.jpg" | resize({ width: 182, height: 250 }) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image-->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/metalvenetian.jpg" | resize({ width: 634, height: 798 }) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/metalvenetian.jpg" | resize({ width: 634, height: 798 }) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/metalvenetian.jpg" | resize({ width: 634, height: 798 }) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image-->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/metalvenetian.jpg" | resize({ width: 826, height: 1134 }) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/metalvenetian.jpg" | resize({ width: 826, height: 1134 }) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/metalvenetian.jpg" | resize({ width: 826, height: 1134 }) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/metalvenetian.jpg" | resize({ width: 826, height: 1134 }) | jpeg %}" alt="new hallway" width="413" height="567" loading="lazy" decoding="async">
                        <span class="cs-label">Metal Venetians</span>
                    </a>
                    <a href="/project-one/" class="cs-picture cs-picture-3">
                      
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/woodenvenetian.jpg" | resize({ width: 182, height: 250 }) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/woodenvenetian.jpg" | resize({ width: 182, height: 250 }) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/woodenvenetian.jpg" | resize({ width: 182, height: 250 }) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image-->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/woodenvenetian.jpg" | resize({ width: 634, height: 798 }) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/woodenvenetian.jpg" | resize({ width: 634, height: 798 }) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/woodenvenetian.jpg" | resize({ width: 634, height: 798 }) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image-->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/woodenvenetian.jpg" | resize({ width: 826, height: 1134 }) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/woodenvenetian.jpg" | resize({ width: 826, height: 1134 }) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/woodenvenetian.jpg" | resize({ width: 826, height: 1134 }) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/woodenvenetian.jpg" | resize({ width: 826, height: 1134 }) | jpeg %}" alt="new hallway" width="413" height="567" loading="lazy" decoding="async">
                        <span class="cs-label">Wooden & Faux Wooden Venetians</span>
                    </a>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <a href="/project-one/" class="cs-picture cs-picture-1">
                      
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/daynight.jpg" | resize({ width: 182, height: 250 }) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/daynight.jpg" | resize({ width: 182, height: 250 }) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/daynight.jpg" | resize({ width: 182, height: 250 }) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image-->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/daynight.jpg" | resize({ width: 634, height: 798 }) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/daynight.jpg" | resize({ width: 634, height: 798 }) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/daynight.jpg" | resize({ width: 634, height: 798 }) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image-->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/daynight.jpg" | resize({ width: 826, height: 1134 }) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/daynight.jpg" | resize({ width: 826, height: 1134 }) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/daynight.jpg" | resize({ width: 826, height: 1134 }) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/daynight.jpg" | resize({ width: 826, height: 1134 }) | jpeg %}" alt="new hallway" width="413" height="567" loading="lazy" decoding="async">
                        <span class="cs-label">Day & Nights</span>
                    </a>
                    <a href="/project-one/" class="cs-picture cs-picture-2">
                      
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/romans.jpg" | resize({ width: 182, height: 250 }) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/romans.jpg" | resize({ width: 182, height: 250 }) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/romans.jpg" | resize({ width: 182, height: 250 }) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image-->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/romans.jpg" | resize({ width: 634, height: 798 }) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/romans.jpg" | resize({ width: 634, height: 798 }) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/romans.jpg" | resize({ width: 634, height: 798 }) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image-->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/romans.jpg" | resize({ width: 826, height: 1134 }) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/romans.jpg" | resize({ width: 826, height: 1134 }) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/romans.jpg" | resize({ width: 826, height: 1134 }) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/romans.jpg" | resize({ width: 826, height: 1134 }) | jpeg %}" alt="new hallway" width="413" height="567" loading="lazy" decoding="async">
                        <span class="cs-label">Roman Blinds</span>
                    </a>
                    <a href="/project-one/" class="cs-picture cs-picture-3">
                      
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/perfectfit.jpg" | resize({ width: 182, height: 250 }) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/perfectfit.jpg" | resize({ width: 182, height: 250 }) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/perfectfit.jpg" | resize({ width: 182, height: 250 }) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image-->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/perfectfit.jpg" | resize({ width: 634, height: 798 }) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/perfectfit.jpg" | resize({ width: 634, height: 798 }) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/perfectfit.jpg" | resize({ width: 634, height: 798 }) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image-->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/perfectfit.jpg" | resize({ width: 826, height: 1134 }) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/perfectfit.jpg" | resize({ width: 826, height: 1134 }) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/perfectfit.jpg" | resize({ width: 826, height: 1134 }) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/perfectfit.jpg" | resize({ width: 826, height: 1134 }) | jpeg %}" alt="new hallway" width="413" height="567" loading="lazy" decoding="async">
                        <span class="cs-label">Perfect Fit Blinds</span>
                    </a>

                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <a href="/project-one/" class="cs-picture cs-picture-1">
                      
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/rollerblinds.jpg" | resize({ width: 182, height: 250 }) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/rollerblinds.jpg" | resize({ width: 182, height: 250 }) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/rollerblinds.jpg" | resize({ width: 182, height: 250 }) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image-->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/rollerblinds.jpg" | resize({ width: 634, height: 798 }) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/rollerblinds.jpg" | resize({ width: 634, height: 798 }) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/rollerblinds.jpg" | resize({ width: 634, height: 798 }) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image-->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/rollerblinds.jpg" | resize({ width: 826, height: 1134 }) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/rollerblinds.jpg" | resize({ width: 826, height: 1134 }) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/rollerblinds.jpg" | resize({ width: 826, height: 1134 }) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/rollerblinds.jpg" | resize({ width: 826, height: 1134 }) | jpeg %}" alt="new hallway" width="413" height="567" loading="lazy" decoding="async">
                        <span class="cs-label">Roller Blinds</span>
                    </a>
                    <a href="/project-one/" class="cs-picture cs-picture-2">
                      
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/verticalblinds.jpg" | resize({ width: 182, height: 250 }) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/verticalblinds.jpg" | resize({ width: 182, height: 250 }) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/verticalblinds.jpg" | resize({ width: 182, height: 250 }) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image-->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/verticalblinds.jpg" | resize({ width: 634, height: 798 }) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/verticalblinds.jpg" | resize({ width: 634, height: 798 }) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/verticalblinds.jpg" | resize({ width: 634, height: 798 }) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image-->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/verticalblinds.jpg" | resize({ width: 826, height: 1134 }) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/verticalblinds.jpg" | resize({ width: 826, height: 1134 }) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/verticalblinds.jpg" | resize({ width: 826, height: 1134 }) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/verticalblinds.jpg" | resize({ width: 826, height: 1134 }) | jpeg %}" alt="new hallway" width="413" height="567" loading="lazy" decoding="async">
                        <span class="cs-label">Vertical Blinds</span>
                    </a>
                    <a href="/project-one/" class="cs-picture cs-picture-3">
                      
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/curtains.jpg" | resize({ width: 182, height: 250 }) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/curtains.jpg" | resize({ width: 182, height: 250 }) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/curtains.jpg" | resize({ width: 182, height: 250 }) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image-->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/curtains.jpg" | resize({ width: 634, height: 798 }) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/curtains.jpg" | resize({ width: 634, height: 798 }) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/curtains.jpg" | resize({ width: 634, height: 798 }) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image-->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/curtains.jpg" | resize({ width: 826, height: 1134 }) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/curtains.jpg" | resize({ width: 826, height: 1134 }) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/curtains.jpg" | resize({ width: 826, height: 1134 }) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/curtains.jpg" | resize({ width: 826, height: 1134 }) | jpeg %}" alt="new hallway" width="413" height="567" loading="lazy" decoding="async">
                        <span class="cs-label">Curtains</span>
                    </a>

                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
            </div>
        </div>
    </section>

  
    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-67">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Reviews</span>
                <h2 class="cs-title">Words From Our Customers</h2>  
            </div>
            <div id="reviews-widget-14"></div>
            <script src="https://app.reviewconnect.me/embed/po5MsFdf0PoefwN6dsTEhPDiwajRVLko/widget.js" async></script>
            <a href="/reviews/" class="cs-button-solid">Read All Reviews</a>
        </div>
    </section>


    {% include 'sections/cta.html' %}
{% endblock %}